@charset "UTF-8";
@font-face {
    font-family: 'amor01';
    src: url(../fontes/LoveaHegena.otf) format('opentype');
}
@font-face {
    font-family: 'amor02';
    src: url(../fontes/Valentine\ Cute.ttf) format('truetype');
}

:root {
    --font-padrao: Arial, Helvetica sans-serif;
    --font-amor1: 'amor01';
    --font-amor2: 'amor02';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
}

body {
    background: url(../imagens-index/imagem-de-fundo.png) center center repeat fixed;
    background-size: cover;
}

header {
    height: 290px;
}

header > h1 {
    font-family: var(--font-amor2);
    font-weight: lighter;
    font-size: 4vw;
    text-align: center;
    padding: 10px;
}

header strong {
    text-decoration: underline;
}

main > p {
    font-family: var(--font-amor2);
    font-size: 3vw;
    text-align: center;
    padding: 10px;
}
main > div.cartas {
    text-align: center;
}

main > div.cartas > a {
    text-decoration: none;
}

main > div.cartas img {
    width: 100px;
    padding: 20px;
}

main > iframe {
    display: block;
    margin: auto;
    width: 330px;
    height: 900px;
    border-radius: 15px;
}

main iframe p#error {
    font-family: var(--font-padrao);
    font-family: 1.2em;
}

main div.carta-especial {
    text-align: center;
}

main div.carta-especial img {
    width: 300px;
}


